// Typography
$appFont: "PT Sans Caption", sans-serif;
$mainColor: #222222;
$secondColor: #777777cc;
$headerColor: #272727e3;
$blueLink: #385cde;

.logo {
  color: $headerColor;
  font-size: 40px;
  letter-spacing: -0.1em;
}

h1 {
  color: $headerColor;
  font-weight: bold;
  font-size: 45px;
}
h2 {
  color: $headerColor;
  font-weight: bold;
  font-size: 35px;
}

h4 {
  color: $secondColor;
}

// body{
//   background-color: #f3f2f0;
// }

.button {
  background-color: #506d57;
  color: #ffffff;
  font-size: 16px;
  font-weight: 100;
  border: none;
  font-family: $appFont;
  padding: 20px;
  width: 200px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(124, 124, 124, 0.739);
}

body {
  font-family: $appFont;
}
