@import "../../../style";

.border {
  border-bottom: 3px solid black !important;
}

.place-order-btn {
  background-color: #2f9f6a;
  color: white;
  font-size: px;
}

.order-card {
  p {
    color: #777777;
  }
}
