@import "../../../style";

.plant-card-container {
  height: 100vh;
  justify-content: center;
  text-align: center;
  img {
    max-width: 80%;
    height: auto;
    margin: 0 auto;
  }
  p {
    font-weight: bold;
    text-align: center;
    font-size: 18px;
  }
}

.add-to-cart-btn {
  border: 1.5px solid #3fa24f;
  background-color: inherit;
  color: #3fa24f;
  width: auto;
}

.add-to-cart-btn:hover {
  background-color: #98d9a3;
  color: white;
}
.plant-card {
  justify-content: space-between;
  display: flex;
  align-items: baseline;
}

.plant-card {
  height: 24rem;
}

.plant-img {
  height: 150px;
}

.bg-balls {
  position: absolute;
  margin-left: -450px;
  opacity: 0.9;
}
