@import "../../../style";

.plant-card-container {
  height: 100vh;
  justify-content: center;
  text-align: center;
  img {
    max-width: 80%;
    height: auto;
    margin: 0 auto;
  }
  p {
    font-weight: bold;
    text-align: center;
    font-size: 18px;
  }
}
.plant-card {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
}

.card {
  border: #b2b0b0 1px solid !important;
  height: 24rem;
  width: 18rem;
}

.bg-balls {
  position: absolute;
  margin-left: -450px;
  opacity: 0.9;
}
