@import "../../../style";

.hero-container {
  height: 90vh;
}
.hero-img {
  max-width: 70%;
  height: auto;
}

.hero-text {
  line-height: 35px;
}

.button {
  position: absolute;
  margin-top: 20px;
}
