@import "../../../style";

//logo

.logo-img {
  height: auto;
  max-width: 30%;
}
.nav-link {
  color: $secondColor;
  font-size: 24px;
  font-weight: lighter;
}

.nav-link:hover {
  color: $headerColor !important;
}

.navbar {
  background-color: whitesmoke;
}
.navbar-sticky {
  background: #333;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 1px 1px 1px #222;
  animation: moveDown 0.5s ease-in-out;
}
@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(0rem);
  }
}
