@import "../../../style";

.item-img-cart {
  height: auto;
  width: 80%;
}

.item-cart {
  display: flex;
  flex-direction: column;
  .count {
    font-size: 11px;
    background-color: rgb(226, 222, 222);
    padding: 5px;
    border-radius: 10px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.801);
    cursor: pointer;
  }
  .count:hover {
    box-shadow: 0px 2px 3px rgba(19, 19, 19, 0.246);
  }

  h6 {
    font-weight: bold;
  }
}
#hidden {
  display: none;
}
.card-item {
  border-radius: 20px;
  margin-bottom: 10px;
}
.col-item-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0px 40px;
}

.remove-row {
  margin-top: 5px;
}

.wishlist,
.remove {
  border-radius: 5px;
  text-align: center;
  color: white;
  padding: 2px;
  font-size: 14px;
  cursor: pointer;
}

.remove {
  background-color: rgba(255, 0, 0, 0.63);
}
.remove:hover {
  background-color: #c71616;
}

.wishlist {
  background-color: rgba(128, 0, 128, 0.294);
}

.wishlist:hover {
  background-color: #ba82ba;
}
